.swiper_wrapper {
    margin: 0 auto;
    margin-top: 6vh; 
    width: 80vw;
    position: relative;
    
    img { 
        border-radius: 5px;
    }
}

.swiper_slide_hover {
    transition: all .25s ease-out;

    &:hover {
        transform: scale(1.1);
        transition: transform .25s ease-in;
    }   

    img { 
        filter: none;
        transition: filter .25s;

        &:hover {
            filter: opacity(.6) grayscale(70%);
            transition: filter .25s;
            cursor: pointer;
        }
    }
}

.swiper_inactive_slider {
    transform: scale(.7);
    transition: transform .25s ease-in-out;
}

.slide_abimg {
    position: relative;
    background-color: gray;

    figcaption span:first-child {
        transition: all .25s;

        &:hover {
            color: #a45ee5 !important;
            transition: color .25s;
        }
    }
}

.grid_container {
    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
    justify-content: center;
    column-gap: 10vw;
    row-gap: 4vw;
    margin: 2em 0 2em 0;
}

.mini_flexbox {
    display: flex;
    flex-flow: row nowrap;
    align-items: center; 
    margin-bottom: .3em;

    a { 
        cursor: pointer !important;
    }
}

.country_name_listed {
    position: relative;
    font-family: 'Cherry Swash', cursive;
    cursor: default;
    margin-left: .3em;

    &::after {
        content: "";
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        height: 2px;
        width: 100%;
        background-color: gray;
        transform: scaleX(0);
        transform-origin: bottom right;
        transition: transform 0.5s ease-out;
    }

    &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}

@counter-style right-hand {
    system: cyclic;
    symbols: ☛;
    suffix: "";
}

.list_all_channels {
    position: relative;
    background-color: rgba(230, 230, 230, 1);
    width: 30vmax;
    height: auto;
    padding: .5em 0;
    margin-left: 1em;
    border-radius: 2px;
    filter: drop-shadow(10px 10px 10px rgba(80, 80, 80, .4));

    ul { 
        font-family: 'Libre Baskerville', cursive;
        list-style-type: right-hand;
        cursor: pointer;

        li { 
            transform: translateY(0);
            transition: transform 0.25s ease-out;
            width: min-content;
            
            &:nth-child(n + 1) {
                margin-top: 5px;
            }

            &:hover {
                transform: translateY(-1vh);
                transition: transform 0.25s ease-in;
            }
        }

    }
}


//Phone Portrait & Landscape
@media screen and (min-width: 0px) and (max-width: 767px) {
    
}

//Tablet Portrait & Landscape
@media screen and (min-width: 768px) and (max-width: 1024px) {
  
}

//Tablet Portrait
@media screen and (min-width: 768px) {
  
}

//Tablet Landscape
@media screen and (max-width: 1024px) {
  
}

//Desktop
@media screen and (min-width: 1224px) {
  
}

//Large Desktop
@media screen and (min-width: 1824px) {
  
}