
.all_news_container {
    display: grid;
    grid-column-end: 1;
    grid-column-start: 3;
    grid-template-columns: auto auto auto;
    grid-template-rows: repeat(auto, 2fr);
    gap: 3em;
    margin: 0 1.5em;
    margin-top: 2em;
}

@for $i from 1 through 3 {
    @keyframes hover-up-#{$i} {
        0% { transform: translateY(100px * $i); opacity: 0; }
        100% { transform: translateY(0); opacity: 1; }
    }
}

.item_flex {
    position: relative;
    height: 73.5vh;
    border: 1px solid gray;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(100, 100, 100, 0.6);
    animation: fade_lr_opac .5s 1;
    transition: all .4s ease-in;
    box-sizing: border-box;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    
    &:hover {
        transform: scale(1.1);
        border-color: #949398FF;
        background-color: rgba(230, 230, 230, 1);
        border-width: 1.5px;
        transition: all .4s ease-out;
    }

    &:nth-child(3n + 1) {
        animation: hover-up-1 .6s;
    }

    &:nth-child(3n + 2) {
        animation: hover-up-2 .6s;
    }

    &:nth-child(3n + 3) {
        animation: hover-up-3 .6s;
    }
}

.image {     
    img {
        border-radius: 2px !important;
    }
}

.date_creation {
    position: relative;
    text-align: left;
    font-size: .5rem;
    font-weight: normal;
    font-family: 'Libre Baskerville', sans-serif;
    opacity: .4;
}

.headline {
    margin: 0;
    margin-top: 5px;
    font-size: 1rem;
    cursor: default;
    width: 90%;
    margin: .3em auto;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Libre Baskerville', sans-serif;
}

.intro_paragraph {
    position: relative;
    width: 100%;
    z-index: -1;
    width: 90%;
    margin: 0 auto;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Libre Baskerville', sans-serif;
    font-size: clamp(.55rem, .7rem, 1.05rem);
    overflow: hidden;
    text-overflow: ellipsis
}



//Phone Portrait & Landscape
@media screen and (min-width: 0px) and (max-width: 767px) {
    .all_news_container {
        grid-column-start: 1;
        grid-template-columns: auto;  
    }
}

//Tablet Portrait & Landscape
@media screen and (min-width: 768px) and (max-width: 1024px) {
  
}

//Tablet Portrait
@media screen and (min-width: 768px) {
  
}

//Tablet Landscape
@media screen and (max-width: 1024px) {
  
}

//Desktop
@media screen and (min-width: 1224px) {
  
}

//Large Desktop
@media screen and (min-width: 1824px) {
  
}