html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Cherry Swash';
  src: url('/fonts/CherrySwash/CherrySwash-Bold.woff2') format('woff2'),
       url('/fonts/CherrySwash/CherrySwash-Bold.woff') format('woff'),
       url('/fonts/CherrySwash/CherrySwash-Bold.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Libre Baskerville';
  src: url('/fonts/LibreBaskerville/LibreBaskerville-Regular.woff2') format('woff2'),
       url('/fonts/LibreBaskerville/LibreBaskerville-Regular.woff') format('woff'),
       url('/fonts/LibreBaskerville/LibreBaskerville-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
       url('/fonts/Roboto/Roboto-Regular.woff') format('woff'),
       url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('/fonts/Roboto-Bold/Roboto-Bold.woff2') format('woff2'),
       url('/fonts/Roboto-Bold/Roboto-Bold.woff') format('woff'),
       url('/fonts/Roboto-Bold/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}