@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

@keyframes rotation_log {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-45deg); }
  75% { transform: rotate(65deg); }
  100% { transform: rotate(0deg); }
}

.nav_flex {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  width: 100%;
  height: auto;
  border-bottom: 1px#5C5248 solid;
  border-bottom-width: 3px;
  box-shadow: 0px 2px 10px gray;
  padding-left: 1.5em;
  padding-top: .2em;

  span {
    margin-right: 20px;
    font-family: 'Cherry Swash', cursive;
    font-size: 1.25em;
    cursor: default;
    &:nth-child(n + 2) {
      justify-self: center !important; 
    }
  }

  img {
    margin-right: 10px !important;
    border: 1px gray solid !important;
    border-radius: 50%;

    &:hover {
      animation: rotation_log 3s 1;
    }
  }
  
}

.animation_stop_sm {
  transform: rotate(0deg);
  transition: transform 1s ease-out;
}

.hover {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: gray;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}


@keyframes appear_anim {
  from { transform: translateY(-100%); transform-origin: top; opacity: 0; }
  to { transform: transteY(0); opacity: 1; }
}

@keyframes appear_desc_anim {
  from { transform: translateX(-50%); transform-origin: left; opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes video_home {
  from { transform: scaleX(0); opacity: 0; }
  to { transform: scaleX(1); opacity: 1; }
}

.main_content {
  margin-top: none;
  text-align: center;
  font-size: 3em;

  h1 {
    margin-top: 20px;
    margin-bottom: 0;
    font-family: 'Libre Baskerville', cursive;
    text-decoration: underline;
    color: #AC8E60;
    cursor: default;
    animation: appear_anim .7s 1;
  }

  .video_home_a {
    animation: video_home .7s 1;
  }
}

.mc_flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.desc_text {
  max-width: 40vw;
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Libre Baskerville', cursive;
  font-weight: 700;
  animation: appear_desc_anim .7s 1;

  a {
    position: relative;
    color:#AC8E60;

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      height: 2px;
      background-color: #AC8E60;
      transform: scaleX(0);
      transform-origin: center;
      transition: transform .25s ease-out;
    }

    &:hover:after {
      transform: scaleX(1);
      transform-origin: center;
    }
  }
}

.vis_none {
  visibility: hidden;
}